.row.h-100
  .col-lg-6.my-auto.mx-auto.bg-white.preview
    %h2 Create New Chat

    = simple_form_for @chat, url: chats_manage_index_path do |f|
      = render 'form', f: f

      .form-actions
        = f.button :submit, t('chats.create'), class: 'btn btn-primary'

    .row.mt-5
      .col-lg-6
        = link_to t('nav.back'), chats_manage_index_path, class: "btn btn-dark"
