.row.h-100.mt-100
  .col-lg-8.my-auto.mx-auto.bg-white.preview
    %h2 Create New Telegram Message

    = simple_form_for @telegram_message, url: telegram_messages_manage_index_path, html: { multipart: true } do |f|
      = render 'form', f: f, chats: @chats, submit_text: t('telegram_messages.create')

    .row.mt-5
      .col-lg-6
        = link_to t('nav.back'), telegram_messages_manage_index_path, class: "btn btn-dark"
