.telegram-background {
  background-image: url("telegram_logo.png");
  background-size: 60px;
}

.list {
  margin-top: 25px;

  th:last-child, td:last-child {
    width: 235px;
  }

  td {
    line-height: 38px;

    .check_block {
      margin-left: 35px;

      .check-mark {
        width: 30px;
      }
    }
  }
}

.preview {
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px 20px;
}

.attachment {
  height: 200px;
}
