.api-ready {
  .text {
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    background: -webkit-linear-gradient(#24e021, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
